<div class="me-rate me-rate-ltr {{ me_rate_size }}" {% if dire == 'rtl' %} style="display: flex;flex-direction: row;" {% endif %}>

    <label {% if object == 1 %} class="me-rate-active" {% endif %} title="text">1 star</label>
    <label {% if object == 2 %} class="me-rate-active" {% endif %} title="text">2 stars</label>
    <label {% if object == 3 %} class="me-rate-active" {% endif %} title="text">3 stars</label>
    <label {% if object == 4 %} class="me-rate-active" {% endif %} title="text">4 stars</label>
    <label {% if object == 5 %} class="me-rate-active" {% endif %} title="text">5 stars</label>

</div>