{% load static %}

<div class="category-marg">
    <div class="category-holder">
        <div class="category-shoping-text">
            دسته بندی های جی جی کالا
        </div>

        <div class="category-holder-main">
            <div class="cat-holder">

                <a href="{% url 'Category:sex_toys_slug' 'dildo' %}" class="cat">
                    <img class="cet-image" src="{% static 'GGkala/images/dildo.png' %}" alt="">
                    <span class="cat-text" style="top:37%;">دیلدو</span>
                </a>

                <a href="{% url 'Category:sex_toys_slug' 'couples' %}" class="cat">
                    <img class="cet-image" src="{% static 'GGkala/images/couples.png' %}" alt="">
                    <span class="cat-text" style="top:37%;">برای زوج ها</span>
                </a>

                <a href="{% url 'Category:sex_toys_slug' 'for-male' %}" class="cat">
                    <img class="cet-image" src="{% static 'GGkala/images/male.png' %}" alt="">
                    <span class="cat-text">دسته‌بندی <br>مردان</span>
                </a>

                <a href="{% url 'Category:sex_toys_slug' 'vibrator' %}" class="cat">
                    <img class="cet-image" src="{% static 'GGkala/images/vib.png' %}" alt="">
                    <span class="cat-text" style="top:37%;">ویبراتور</span>
                </a>

            </div>

            <div class="cat-holder">
                <a href="{% url 'Category:sex_toys_slug' 'cock-ring' %}" class="cat">
                    <img class="cet-image" src="{% static 'GGkala/images/cock-ring.png' %}" alt="">
                    <span class="cat-text">دسته‌بندی <br>حلقه آلت</span>
                </a>

                <a href="{% url 'Category:sex_toys_slug' 'rabbit' %}" class="cat">
                    <img class="cet-image" src="{% static 'GGkala/images/rabbit.png' %}" alt="">
                    <span class="cat-text" style="top:37%;">خرگوشی</span>
                </a>

                <a href="{% url 'Category:sex_toys_slug' 'anal-toys' %}" class="cat">
                    <img class="cet-image" src="{% static 'GGkala/images/anal-toys.png' %}" alt="">
                    <span class="cat-text">دسته‌بندی <br>آنال</span>
                </a>

                <a href="{% url 'Category:sex_toys_slug' 'clitoral' %}" class="cat">
                    <img class="cet-image" src="{% static 'GGkala/images/clitros.png' %}" alt="">
                    <span class="cat-text">دسته‌بندی <br>کلیتروس</span>
                </a>
            </div>
        </div>
    </div>
</div>