{% load static %}

<div class="mar">
    <div class="services-holder">

        <div class="servic_option">
            <div class="servic_mar">
                <div class="packaging-holder">
                    <img class="packaging-img" src="{% static 'Home/images/packaging.png' %}" alt="">
                    <div class="packaging-text"> بسته بندی کاملا <br>محتاطانه</div>
                </div>

                <div class="packaging-holder">
                    <img class="shipping-img" src="{% static 'Home/images/shipping.png' %}" alt="">
                    <div class="packaging-text"> ارسال رایگان برای <br>سفارش بالای دو میلیون تومان</div>
                </div>

                <div class="packaging-holder">
                    <img class="suport-img" src="{% static 'Home/images/suport.png' %}" alt="">
                    <div class="packaging-text"> ۲۴/۷ پشتیبانی با چت و ایمیل</div>
                </div>

                <div class="packaging-holder">
                    <img class="suport-img" src="{% static 'Home/images/garantie.png' %}" alt="">
                    <div class="packaging-text">100 روز ضمانت بازگشت کالا<br> برای اسباب بازی و بانداژ</div>
                </div>
            </div>
        </div>

    </div>
</div>