{% extends 'registration/login_form_base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}
    تغییر گذرواژه | جی جی کالا
{% endblock %}

{% block title-form %}
    {% if validlink %}
        <p style="font-size: 21px;">
            گذرواژه جدید خود را وارد کنید
        </p>
    {% else %}
        <p style="font-size: 21px;">
            این لینک منقضی شده است
        </p>
    {% endif %}
{% endblock %}

{% block form %}
    {% if validlink %}
        <div class="form-floating mb-3">
            {{ form.new_password1|add_class:"form-control"}}

            {% if form.new_password1.errors %}
                <div class="erors">
                    {% for non_field_eror in form.new_password1.errors %}
                        <div> {{ non_field_eror }} </div>
                    {% endfor %}
                </div>
            {% endif %}
            <label for="floatingInput" class="yekan">گذرواژه جدید</label>
        </div>
        <div class="form-floating mb-4">
            {{ form.new_password2|add_class:"form-control"}}
            {% if form.new_password2.errors %}
                <div class="erors">
                    {% for non_field_eror in form.new_password2.errors %}
                        <div> {{ non_field_eror }} </div>
                    {% endfor %}
                </div>
            {% endif %}
            <label for="floatingPassword" class="yekan">تکرار گذرواژه</label>
        </div>
        <button type="submit" class="btn btn-primary py-3 w-100 mb-4 yekan_d">تغییر پسورد</button>
        <p class="text-center mb-0 yekan_d">ثبت نام نکردید؟ <a href="">ثبت نام</a></p>
    {% else %}
        <div class="text-center yekan" style="font-size: 20px;">
            <p>
                برای دریافت مجدد ایمیل به صفحه <a href="{% url 'password_reset' %}">تغییر گذرواژه</a> برگردید
            </p>
        </div>
    {% endif %}
{% endblock %}