{% extends 'registration/login_form_base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}
    ارسال ایمیل موفق | جی جی کالا
{% endblock %}

{% block title-form %}
    <p style="font-size: 13px;">ایمیل بازیابی گذرواژه برای ایمیل شما ارسال شد</p>
    <p style="font-size: 13px;">اگر آن را دریافت نکردید لطفا ایمیل خود را بررسی کنید</p>
    <p style="font-size: 13px;">همچنین لیست اسپم ایمیل خود را چک کنید</p>

{% endblock %}

{% block form %}
    <a href="{% url 'Home:home' %}"><p class="text-center mb-0 yekan_d">بازگشت به خانه</p></a>
{% endblock %}