{% extends 'registration/login_form_base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}
    فراموشی گذرواژه | وارد کردن ایمیل | جی جی کالا
{% endblock %}

{% block title-form %}
    ایمیل خود را وارد کنید
{% endblock %}

{% block form %}
    <div class="form-floating mb-4">
        {{ form.email|add_class:"form-control"}}
        {% if form.email.errors %}
            <div class="erors">
                {% for non_field_eror in form.email.errors %}
                    <div> {{ non_field_eror }} </div>
                {% endfor %}
            </div>
        {% endif %}
        <label for="floatingPassword" class="yekan">وارد کردن ایمیل</label>
    </div>
    <button type="submit" class="btn btn-primary py-3 w-100 mb-4 yekan_d">ارسال ایمیل</button>
    <p class="text-center mb-0 yekan_d">ثبت نام نکردید؟ <a href="{% url 'signup' %}">ثبت نام</a></p>
{% endblock %}